host: api.thinkblock.io
info:
  title: ThinBlock's API Documentation
  version: 0.1.0
  description: >-
    This documentation is a complete cookbook of ThinBlock's API. Everything is
    pretty well documented. If you have any questions please let us know.
swagger: '2.0'
basePath: /
schemes:
  - http
  - https
tags:
  - name: Activity Logs
    description: Activity Logs
  - name: Apps
    description: Apps
  - name: Authentication
    description: Authentication
  - name: Devices
    description: Devices
  - name: Ethereum
    description: >-
      This API is about transactions. You'll need an ethereum account to access
      this route. The account must be created from ThinBlock's API.
  - name: Keys
    description: Keys
  - name: OAuth2
    description: OAuth2
  - name: Users
    description: Users
  - name: Wallets
    description: Wallets
paths:
  /api/activity_logs/:
    get:
      tags:
        - Activity Logs
      summary: Get Account's Activity Log
      description: >-
        Gets the Activty Logs of the Credentials which are being used to access
        the ThinBlock's API. If you want to filter for your specific user. You
        can provide 'user_id' in query params to filter the log only to that
        user's activity.
      operationId: 1535975300870_get
      produces:
        - application/json
      parameters:
        - name: user_id
          in: query
          description: ''
          required: false
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              result:
                - id: 1
                  log: Account created successfully
                  event_type: eth_account_created
                - id: 2
                  log: Key added successfully
                  user_id: '209'
                  event_type: user_key_added
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/apps/:
    get:
      tags:
        - Apps
      summary: Get All Apps
      description: Gets all created apps
      operationId: 1535975300942_get
      produces:
        - application/json
      parameters: []
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Apps
      summary: Create An App
      description: Creates an app.
      operationId: 1535975300942_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975300942PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/login/:
    post:
      tags:
        - Authentication
      summary: Login User
      description: >-
        Returns JWT token in exchange for credentials which can be used to
        access protected routes.
      operationId: 1535975301397_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975301397PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/reset_password/:
    post:
      tags:
        - Authentication
      summary: Send Password Reset Email
      description: >-
        Sends password reset email to the given email with reset_token. Returns
        404 error if user not found.
      operationId: 1535975302081_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302081PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: >-
                Password reset email is successfully sent. Please check your
                email and follow the instructions to reset your password.
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: User doesn't exist in our db
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    put:
      tags:
        - Authentication
      summary: Confirm Password Reset Token
      description: >-
        Saves new password when correct reset_token is provided. Returns error
        if reset_token is invalid. Hitting this endpoint 5 times with invalid
        token suspends the user's account. You need to create a new reset_token
        to start over.
      operationId: 1535975302081_put
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302081PutEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              error: true
              message: >-
                This password reset token was either used or has expired. Please
                try generating new password reset token and try again.
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: User doesn't exist in our db
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/signup/:
    post:
      tags:
        - Authentication
      summary: Create User
      description: 'Signs up user with name, email and password.'
      operationId: 1535975302082_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302082PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/2fa/:
    post:
      tags:
        - Authentication
      summary: 2FA
      description: >-
        Returns JWT token in exchange for One Time Password which can be used to
        access protected routes.
      operationId: 1535975302084_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302084PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              error: true
              message: Too many attempts - Blocking account
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFound
              message: User doesn't exist in our db
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/devices/:
    get:
      tags:
        - Devices
      summary: Gets All Devices
      description: Gets all devices associated with client and user_id
      operationId: 1535975302123_get
      produces:
        - application/json
      parameters:
        - name: user_id
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              result:
                - id: 1
                  client_id: 8718e710-03d9-42b8-2588-d020x1995dd0
                  UUID: 123-456-789
                  user_id: '123421421'
                  created_at: '2018-08-03T06:09:19.594Z'
                  updated_at: '2018-08-03T06:09:19.594Z'
              total_results: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Devices
      summary: Creates Device
      description: Creates Device
      operationId: 1535975302123_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302123PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 1
              client_id: 8718e710-03d9-42b8-2588-d020x1995dd0
              UUID: 123-456-789
              user_id: '123421421'
              created_at: '2018-08-03T06:09:19.594Z'
              updated_at: '2018-08-03T06:09:19.594Z'
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/devices/{device_id}':
    get:
      tags:
        - Devices
      summary: Gets Device
      description: Gets single device for given device id.
      operationId: 1535975302123_get
      produces:
        - application/json
      parameters:
        - name: device_id
          in: path
          description: device_id
          required: true
          type: string
        - name: user_id
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 1
              client_id: 8718e710-03d9-42b8-2588-d020x1995dd0
              UUID: 123-456-789
              user_id: '123421421'
              created_at: '2018-08-03T06:09:19.594Z'
              updated_at: '2018-08-03T06:09:19.594Z'
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFoundError
              message: Device not found for given id
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Devices
      summary: Deletes Device
      description: Deletes single device for given device id.
      operationId: 1535975302123_delete
      produces:
        - application/json
      parameters:
        - name: device_id
          in: path
          description: device_id
          required: true
          type: string
        - name: user_id
          in: query
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Device deleted successfully
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFoundError
              message: Device not found for given id
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/eth/accounts/:
    get:
      tags:
        - Ethereum
      summary: Get All Eth Accounts
      description: >-
        Gets all ethereum accounts created with ThinBlock. You can also retreive
        the confirmed eth balance by making 'include_balance=true'
      operationId: 1535975302471_get
      produces:
        - application/json
      parameters:
        - name: include_balance
          in: query
          description: ''
          required: false
          type: boolean
          default: false
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Ethereum
      summary: Create Eth Account
      description: Creates an ethereum account and save its address in ThinBlock
      operationId: 1535975302471_post
      produces:
        - application/json
      parameters:
        - name: key_action
          in: query
          description: ''
          required: true
          type: string
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/balance/':
    get:
      tags:
        - Ethereum
      summary: Get Account Balance
      description: Gets balance of given account
      operationId: 1535975302480_get
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/transactions/{transaction_hash}':
    get:
      tags:
        - Ethereum
      summary: Retreive Transaction With TX Hash
      description: This route gets the transaction info for a certain tx hash
      operationId: 1535975302483_get
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
        - name: transaction_hash
          in: path
          description: transaction_hash
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              tx_hash: 0x38293289sads8f932893
              status: pending
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/transactions/':
    post:
      tags:
        - Ethereum
      summary: Creates Transaction
      description: Create a Transaction in given account with private_key
      operationId: 1535975302483_post
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302483PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/keys/{key_id}':
    get:
      tags:
        - Keys
      summary: Gets Encrypted Key
      description: Gets the encrypted key for the given key id.
      operationId: 1535975302486_get
      produces:
        - application/json
      parameters:
        - name: key_id
          in: path
          description: key_id
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 203
              encrypted_key: 96A467D2Da922D7d08cB77253686c9c1cFAF723908cB77253686c9c1cFAF7239
              user_id: '29'
              created_at: '2018-07-30T11:34:45.141Z'
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFoundError
              message: Key not found for given credentials
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/keys/:
    post:
      tags:
        - Keys
      summary: Creates Encrypted Key
      description: Adds the Encrypted key in ThinBlock under the given user id.
      operationId: 1535975302486_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302486PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Key saved successfully!
              key_id: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/oauth2/token/:
    post:
      tags:
        - OAuth2
      summary: Create OAuth Token
      description: Creates an OAuth2 token for given credentials.
      operationId: 1535975302490_post
      produces:
        - application/json
      parameters:
        - name: client_id
          in: query
          description: ''
          required: true
          type: string
        - name: client_secret
          in: query
          description: ''
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302490PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/users/me/settings/:
    put:
      tags:
        - Users
      summary: Updates User Settings
      description: Updates User Settings
      operationId: 1535975302492_put
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302492PutEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Updated user settings
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/wallets/{wallet}/addresses/':
    get:
      tags:
        - Wallets
      summary: Get Wallet Address
      description: Gets addresses of given wallet
      operationId: 1535975302502_get
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              result:
                - id: 2
                  wallet_id: 1
                  chain: btc
                  address: 2x
                  name: btc address
                  created_at: '2018-08-02T06:26:54.472Z'
                  updated_at: '2018-08-02T06:26:54.472Z'
              total_results: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Wallets
      summary: Add Wallet Address
      description: Adds address to given wallet
      operationId: 1535975302502_post
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302502PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 5
              chain: btc
              address: 4x
              name: btc address
              wallet_id: 1
              updated_at: '2018-08-03T10:11:57.137Z'
              created_at: '2018-08-03T10:11:57.137Z'
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/wallets/{wallet}/addresses/{address}':
    delete:
      tags:
        - Wallets
      summary: Delete Wallet Address
      description: Deletes address from given wallet
      operationId: 1535975302502_delete
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
        - name: address
          in: path
          description: address
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Wallet Address deleted successfully
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/wallets/{wallet}/authorized_users/':
    get:
      tags:
        - Wallets
      summary: Get Wallet Users
      description: Gets users of given wallet
      operationId: 1535975302504_get
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              result:
                - id: 1
                  wallet_id: 1
                  client_id: '1'
                  user_id: '3'
                  created_at: '2018-08-02T06:19:56.687Z'
                  updated_at: '2018-08-02T06:19:56.687Z'
              total_results: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Wallets
      summary: Add Wallet User
      description: Adds user to given wallet
      operationId: 1535975302504_post
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302504PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 1
              user_id: '4'
              client_id: 87f8e710-03c9-42b8-9588-d02021995dd0
              wallet_id: 1
              updated_at: '2018-08-03T09:56:49.721Z'
              created_at: '2018-08-03T09:56:49.721Z'
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/wallets/{wallet}/authorized_users/{user}':
    delete:
      tags:
        - Wallets
      summary: Delete Wallet User
      description: Deletes user from given wallet
      operationId: 1535975302504_delete
      produces:
        - application/json
      parameters:
        - name: wallet
          in: path
          description: wallet
          required: true
          type: string
        - name: user
          in: path
          description: user
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Wallet User deleted successfully
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/wallets/:
    get:
      tags:
        - Wallets
      summary: Gets All Wallets
      description: Gets all wallets
      operationId: 1535975302506_get
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              result:
                - id: 1
                  client_id: 8718e710-03d9-42b8-2588-d020x1995dd0
                  user_id: '2'
                  name: My wallet
                  created_at: '2018-08-03T06:09:19.594Z'
                  updated_at: '2018-08-03T06:09:19.594Z'
              total_results: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Wallets
      summary: Creates Wallet
      description: Creates Wallet
      operationId: 1535975302506_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1535975302506PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 3
              name: Nice wallet
              user_id: '2'
              client_id: 87f8e710-03c9-42b8-9588-d02021995dd0
              updated_at: '2018-08-03T09:26:26.644Z'
              created_at: '2018-08-03T09:26:26.644Z'
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/wallets/{wallet_id}':
    get:
      tags:
        - Wallets
      summary: Gets Wallet Addresses
      description: Gets single wallet for given wallet id.
      operationId: 1535975302506_get
      produces:
        - application/json
      parameters:
        - name: wallet_id
          in: path
          description: wallet_id
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 1
              client_id: 8718e710-03d9-42b8-2588-d020x1995dd0
              user_id: '2'
              name: My wallet
              created_at: '2018-08-03T06:09:19.594Z'
              updated_at: '2018-08-03T06:09:19.594Z'
              addresses:
                - id: 2
              users:
                - id: 1
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFoundError
              message: Wallet not found for given id
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
definitions:
  NormalResponse:
    type: object
    required:
      - err
      - data
    properties:
      err:
        type: 'null'
      data:
        type: object
  Error:
    type: object
    required:
      - err
      - data
    properties:
      err:
        type: string
      data:
        type: 'null'
  1535975300942PostEntity:
    type: object
    properties:
      name:
        type: string
        description: ''
    required:
      - name
  1535975301397PostEntity:
    type: object
    properties:
      email:
        type: string
        description: ''
      password:
        type: string
        description: ''
    required:
      - email
      - password
  1535975302081PostEntity:
    type: object
    properties:
      email:
        type: string
        description: ''
    required:
      - email
  1535975302081PutEntity:
    type: object
    properties:
      email:
        type: string
        description: ''
      reset_token:
        type: string
        description: ''
      new_password:
        type: string
        description: ''
    required:
      - email
      - reset_token
      - new_password
  1535975302082PostEntity:
    type: object
    properties:
      name:
        type: string
        description: ''
      email:
        type: string
        description: ''
      password:
        type: string
        description: ''
    required:
      - name
      - email
      - password
  1535975302084PostEntity:
    type: object
    properties:
      phone:
        type: string
        description: ''
      otp:
        type: string
        description: ''
    required:
      - phone
      - otp
  1535975302123PostEntity:
    type: object
    properties:
      UUID:
        type: string
        description: ''
      user_id:
        type: string
        description: ''
    required:
      - UUID
      - user_id
  1535975302483PostEntity:
    type: object
    properties:
      to:
        type: string
        description: ''
      value:
        type: string
        description: ''
      gas:
        type: string
        description: ''
      private_key:
        type: string
        description: ''
      user_id:
        type: string
        description: ''
    required:
      - to
      - value
      - gas
      - user_id
  1535975302486PostEntity:
    type: object
    properties:
      encrypted_key:
        type: string
        description: ''
      user_id:
        type: string
        description: ''
    required:
      - encrypted_key
      - user_id
  1535975302490PostEntity:
    type: object
    properties:
      grant_type:
        type: string
        description: ''
    required:
      - grant_type
  1535975302492PutEntity:
    type: object
    properties:
      enable_otp:
        type: boolean
        description: ''
      phone:
        type: string
        description: ''
      user_id:
        type: number
        description: ''
    required:
      - enable_otp
      - phone
      - user_id
  1535975302502PostEntity:
    type: object
    properties:
      chain:
        type: string
        description: ''
      address:
        type: string
        description: ''
      name:
        type: string
        description: ''
    required:
      - chain
      - address
      - name
  1535975302504PostEntity:
    type: object
    properties:
      user_id:
        type: string
        description: ''
    required:
      - user_id
  1535975302506PostEntity:
    type: object
    properties:
      name:
        type: string
        description: ''
      user_id:
        type: string
        description: ''
    required:
      - name
      - user_id