host: api.thinkblock.io
info:
  title: ThinBlock's API Documentation
  version: 0.1.0
  description: >-
    This documentation is a complete cookbook of ThinBlock's API. Everything is
    pretty well documented. If you have any questions please let us know.
swagger: '2.0'
basePath: /
schemes:
  - http
  - https
tags:
  - name: Apps
    description: Apps
  - name: Authentication
    description: Authentication
  - name: Ethereum
    description: >-
      This API is about transactions. You'll need an ethereum account to access
      this route. The account must be created from ThinBlock's API.
  - name: Keys
    description: Keys
  - name: OAuth2
    description: OAuth2
paths:
  /api/apps/:
    get:
      tags:
        - Apps
      summary: Get All Apps
      description: Gets all created apps
      operationId: 1532951721563_get
      produces:
        - application/json
      parameters: []
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Apps
      summary: Create An App
      description: Creates an app.
      operationId: 1532951721563_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951721563PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/login/:
    post:
      tags:
        - Authentication
      summary: Login User
      description: >-
        Returns JWT token in exchange for credentials which can be used to
        access protected routes.
      operationId: 1532951721581_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951721581PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/auth/signup/:
    post:
      tags:
        - Authentication
      summary: Create User
      description: 'Signs up user with name, email and password.'
      operationId: 1532951721582_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951721582PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/eth/accounts/:
    get:
      tags:
        - Ethereum
      summary: Get All Eth Accounts
      description: >-
        Gets all ethereum accounts created with ThinBlock. You can also retreive
        the confirmed eth balance by making 'include_balance=true'
      operationId: 1532951722049_get
      produces:
        - application/json
      parameters:
        - name: include_balance
          in: query
          description: ''
          required: false
          type: boolean
          default: false
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
    post:
      tags:
        - Ethereum
      summary: Create Eth Account
      description: Creates an ethereum account and save its address in ThinBlock
      operationId: 1532951722049_post
      produces:
        - application/json
      parameters:
        - name: key_action
          in: query
          description: ''
          required: true
          type: string
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/balance/':
    get:
      tags:
        - Ethereum
      summary: Get Account Balance
      description: Gets balance of given account
      operationId: 1532951722052_get
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/transactions/{transaction_hash}':
    get:
      tags:
        - Ethereum
      summary: Retreive Transaction With TX Hash
      description: This route gets the transaction info for a certain tx hash
      operationId: 1532951722055_get
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
        - name: transaction_hash
          in: path
          description: transaction_hash
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              tx_hash: 0x38293289sads8f932893
              status: pending
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/eth/accounts/{account}/transactions/':
    post:
      tags:
        - Ethereum
      summary: Creates Transaction
      description: Create a Transaction in given account with private_key
      operationId: 1532951722055_post
      produces:
        - application/json
      parameters:
        - name: account
          in: path
          description: account
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951722055PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  '/api/keys/{key_id}':
    get:
      tags:
        - Keys
      summary: Gets Encrypted Key
      description: Gets the encrypted key for the given key id.
      operationId: 1532951722111_get
      produces:
        - application/json
      parameters:
        - name: key_id
          in: path
          description: key_id
          required: true
          type: string
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              id: 203
              encrypted_key: 96A467D2Da922D7d08cB77253686c9c1cFAF723908cB77253686c9c1cFAF7239
              user_id: '29'
              created_at: '2018-07-30T11:34:45.141Z'
        '404':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              code: NotFoundError
              message: Key not found for given credentials
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/keys/:
    post:
      tags:
        - Keys
      summary: Creates Encrypted Key
      description: Adds the Encrypted key in ThinBlock under the given user id.
      operationId: 1532951722111_post
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951722111PostEntity'
      responses:
        '200':
          description: Normal Response
          schema:
            $ref: '#/definitions/NormalResponse'
          examples:
            application/json:
              success: true
              message: Key saved successfully!
              key_id: 1
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
  /api/oauth2/token/:
    post:
      tags:
        - OAuth2
      summary: Create OAuth Token
      description: Creates an OAuth2 token for given credentials.
      operationId: 1532951722115_post
      produces:
        - application/json
      parameters:
        - name: client_id
          in: query
          description: ''
          required: true
          type: string
        - name: client_secret
          in: query
          description: ''
          required: true
          type: string
        - name: body
          in: body
          description: Submission Data in body
          required: true
          schema:
            $ref: '#/definitions/1532951722115PostEntity'
      responses:
        '500':
          description: When Server takes a nap.
          schema:
            $ref: '#/definitions/Error'
definitions:
  NormalResponse:
    type: object
    required:
      - err
      - data
    properties:
      err:
        type: 'null'
      data:
        type: object
  Error:
    type: object
    required:
      - err
      - data
    properties:
      err:
        type: string
      data:
        type: 'null'
  1532951721563PostEntity:
    type: object
    properties:
      name:
        type: string
        description: ''
    required:
      - name
  1532951721581PostEntity:
    type: object
    properties:
      email:
        type: string
        description: ''
      password:
        type: string
        description: ''
    required:
      - email
      - password
  1532951721582PostEntity:
    type: object
    properties:
      name:
        type: string
        description: ''
      email:
        type: string
        description: ''
      password:
        type: string
        description: ''
    required:
      - name
      - email
      - password
  1532951722055PostEntity:
    type: object
    properties:
      to:
        type: string
        description: ''
      value:
        type: string
        description: ''
      gas:
        type: string
        description: ''
      private_key:
        type: string
        description: ''
    required:
      - to
      - value
      - gas
  1532951722111PostEntity:
    type: object
    properties:
      encrypted_key:
        type: string
        description: ''
      user_id:
        type: string
        description: ''
    required:
      - encrypted_key
      - user_id
  1532951722115PostEntity:
    type: object
    properties:
      grant_type:
        type: string
        description: ''
    required:
      - grant_type